:root {
    --primary-color: #ba0000
    --secondary-color: #00345e
    --accent1-color: #fad3d3
    --accent2-color: #e7e3fc
    --heading-font: "Manrope", sans-serif;
    --text-font: "Roboto Slab", serif;
}

