:root {
    --primary-color: #ba0000;
    --secondary-color: #00345e;
    --accent1-color: #fad3d3;
    --accent2-color: #e7e3fc;
}

* {
    margin: 0px;
}

body {
    background-color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    background-color: var(--primary-color);
    margin-bottom: 15px;
}

header img {
    margin: 10px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar a:hover {
    background-color: #c95858;
    border-radius: 15px;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
}

p, a, figcaption {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    position: absolute;
    top: 50px;
    left: 250px;
    font-size: 50px;
    color: white;
}

.container {
    width: 800px;
    height: 130px;
    padding: 15px;
	background: var(--secondary-color);
	position: absolute;
    top: 200px;
    left: 200px;
    color: white;
}

.container img {
    width: 200px;
    float: right;
    padding-left: 15px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 20px;
    border: 1px solid;
    margin: 15px;
    background-color: var(--accent2-color);
}

.history h2 {
    display: grid;
    grid-column: 1/4;
    place-items: center;
    padding-bottom: 15px;
    font-size: 30px;
}

.history img {
    padding: 0px 15px;
}

.adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid;
    margin: 15px;
    background-color: var(--accent2-color);
}

.adventure h2{
    display: grid;
    grid-column: 1/6;
    place-items: center;
    font-size: 30px;
    padding: 15px;
}

section img {
    width: 250px;
    height: auto;
}

.adventure figure{
    width: 250px;
    height: auto;
    padding: 1em;
}

figcaption {
    display: flex;
    justify-content: center;
}


.navfooter {
    display: grid;
    margin: 1rem;
    grid-template-columns: 9fr 1fr;
    border: 1px solid;
    padding: 1rem;
    background-color: var(--accent2-color);
}

.navfooter p {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialmidias img {
    width: 40px;
    padding: 0px 1px;
}