:root {
    --primary-color: #ba0000;
    --secondary-color: #00345e;
    --accent1-color: #fad3d3;
    --accent2-color: #e7e3fc;
}

* {
    margin: 0px;
}


h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
}

p, a {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    position: absolute;
    top: 50px;
    left: 250px;
    font-size: 50px;
    color: white;
}

section img {
    width: 250px;
    height: auto;
}

footer img{
    width: 35px;
}

.container {
    width: 800px;
    height: 130px;
    padding: 15px;
	background: var(--secondary-color);
	position: absolute;
    top: 200px;
    left: 200px;
    color: white;
}

.container img {
    width: 200px;
    float: right;
    padding-left: 15px;
}