* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    align-items: 1rem;
}

nav {
    display: flex;
    background-color: #00345E;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    color: darkblue;
    padding: .5rem;
}

main img {
    float: right;
    width: 180px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 65px;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
}

.indent {
    padding-left: 2rem;
}
